
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

.container p {
  font-size: 2.4rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
  color: var(--gray-100);
}
.container p span.typed-text {
  /* color: var(--gray-100); */
  font-weight: bold;
  font-size: var(--font-md);
  word-wrap: break-word;
}
.container p span.cursor {
  display: inline-block;
  background-color: var(--yellow-g);
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
  font-weight: 700;
}
.container p span.cursor.typing {
  animation: none;
}
#wellcome {
  display: flex;
  align-items: center;
  justify-content: center;
}
#wellcome--h2 {
  --local-text-md: 1.2rem;
  color: var(--gray-100);
  background: var(--yellow-g);
  padding: 0.6rem 1rem;
  border-radius: 0.8rem;
  text-align: center;
  max-width: 60vw;
  font-size: var(--local-text-md) !important;
}

#load-title > div > p {
  color: var(--gray-100);
}
#load-page {
  height: 100vh;
  width: 100vw;
  background-image: url(/public/assets/img/projeto-alfa.png);
  background-repeat: no-repeat;
  background-position-x: center;
  position: fixed;
  z-index: 99000;
}
#load-page__exit-buttonDesktop {
  display: none;
}
#load-section {
  width: 100%;
  height: 100%;
  background: var(--blue-g);
  opacity: 0.94;
  display: flex !important;
  z-index: 100000;
  align-items: center;
  justify-content: center;
}
#load-section > div > div {
  margin: 18vh 0;
}
#load-dection > div > div > img {
  width: 10rem;
}
#load-h1 {
  color: var(--gray-100);
}
#termina-line {
  width: 12px;
  background: var(--yellow-g);
  height: 40px;
}
#logo-alfa {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
#logo-alfa > img {
  width: 12rem;
}
#scroll-load {
  color: var(--gray-100);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#scroll-load > a > img {
  width: 3rem;
}
.load-page--exit-button{
  color: var(--gray-100) !important;
  cursor: pointer;
  border-bottom: 3px solid #fff0;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  width: 10rem;
  border-bottom: 3px solid #ffb05b;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.load-page--exit-button-desktop:hover {
  border-bottom: 3px solid #ffb05b;
}
