@media (min-width: 769px) { /* TABLET */
    #main--right>h1{
        font-size: 3.2rem;
        line-height: 4rem;
    }
    #main--service{
        display: none;
    }
    #mainMobileDiv{
        margin-bottom: var(--between-sections-margin);
    }
    #loadPage__exit-buttonMobile{
        display: none;
    }
    #loadPage__exit-buttonDesktop{
        border-bottom: 3px solid #fff0;
        display: flex;
      }
      
  }